<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Student Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <style>

		.form-control{
    bottom-top: none;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;

		}
	</style>
</head>
<body style="background-image: url('https://media.istockphoto.com/id/1332097112/photo/the-black-and-silver-are-light-gray-with-white-the-gradient-is-the-surface-with-templates.webp?b=1&s=170667a&w=0&k=20&c=uzejUTDUlhurH8GcYgKElOMBFkK84FEp9BIzzmncGWo='); background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;padding-top:10px">
<nav class="navbar navbar-expand-md bg-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Attendance System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">View Students</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style="
    background: transparent;
    color: white">
      <h1 class = "text-center"> Create New Student </h1>
      <div th:if="${param.success}">
        <div class="alert alert-info">
          The Student Were created successfully !
          <a style="color:red"href=" /students">click here to view the created student</a>
        </div>
      </div>
      <div class = "card-body">
        <form th:action="@{/students}" th:object = "${student}"method="POST" >
          <div class ="form-group">
            <label> First Name </label>
            <input
                    type = "text"
                    name = "firstName"
                    th:field = "*{firstname}"
                    class = "form-control"
                    placeholder="Enter First Name..."
            />
            <p th:errors = "*{firstname}" class="text-danger"
               th:if="${#fields.hasErrors('firstname')}"></p>
          </div>

          <div class ="form-group">
            <label> Last Name </label>
            <input
                    type = "text"
                    name = "lastName"
                    th:field = "*{lastname}"
                    class = "form-control"
                    placeholder="Enter Last Name..."
            />
            <p th:errors = "*{lastname}" class="text-danger"
               th:if="${#fields.hasErrors('lastname')}"></p>
          </div>

          <div class ="form-group">
          <div class ="form-group">
            <label> Student Email </label>
            <input
                    type = "text"
                    name = "email"
                    th:field = "*{email}"
                    class = "form-control"
                    placeholder="Enter Email..."
            />
            <p th:errors = "*{email}" class="text-danger"
               th:if="${#fields.hasErrors('email')}"></p>
          </div>

            <label for="department">Department:</label>
            <select class="form-control" id="department" name="department.id" th:field="*{department}">
              <option value="" disabled selected>Select a Department</option>
              <option th:each="dept : ${departments}" th:value="${dept.id}" th:text="${dept.departmentName}"></option>
            </select>
          </br>
            </br>
            <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
              Create Student
            </button>
          </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>