<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Student Management System</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <style>
		.bg-dark{
		background-color:none;
		}
	</style>
</head>
<body style="background-image: url('https://media.istockphoto.com/id/1332097112/photo/the-black-and-silver-are-light-gray-with-white-the-gradient-is-the-surface-with-templates.webp?b=1&s=170667a&w=0&k=20&c=uzejUTDUlhurH8GcYgKElOMBFkK84FEp9BIzzmncGWo='); background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;padding-top:10px">
<nav class="navbar navbar-expand-md navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Attendance System</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
      </li>
    </ul>
    <form th:action="@{/searchStudent}" method="get">
      <input type="text" name="keyword" th:value="${keyword}"  placeholder="SEARCH STUDENT BY EMAIL OR NAME" size="50" >
      <button type="submit" class="btn btn-info" >Search</button>
      <button type="submit" class="btn btn-info" >Reset</button>
    </form>
  </div>
</nav>

<div class ="container">
  <div class = "row">
    <h1 style="color: white;"> Search to Update or delete your detail</h1>
  </div>

  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "@{/users}" class = "btn btn-secondary btn-sm mb-3"> Go Back >>></a>
    </div>
  </div>


  </div>
  <table class = "table table-striped table-bordered" st>
    <thead class = "table-dark">
    <tr style="color: yellow">
      <th> First Name</th>
      <th> Last Name</th>
      <th> Email </th>
      <th> Functionality </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each = "student: ${students}">
      <td th:text = "${student.firstname}" style="color:white"></td>
      <td th:text = "${student.lastname}" style="color:white"></td>
      <td th:text = "${student.email}" style="color:white"></td>
      <td>
        <a th:href = "@{/students/edit/{id}(id=${student.id})}"
           class = "btn btn-primary">Update</a>

        <a th:href = "@{/students/{id}(id=${student.id})}"
           class = "btn btn-danger">Delete</a>

      </td>
    </tr>
    </tbody>

  </table>

</div>

</body>
</html>