<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Subject Management</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>
<div class="container">
  <h1>Subject Management</h1>

  <!-- Add Subject Form -->
  <form th:action="@{/subjects/add}" method="post" class="mt-4">
    <div class="form-group">
      <label for="subjectName">Subject Name:</label>
      <input type="text" class="form-control" id="subjectName" name="subjectName" required="required" />
    </div>
    <label for="courseSelection">Select a Course Name:</label>
    <select class="form-control" id="courseSelection" name="courseSelection">
      <option value="">Select a course...</option>
      <!-- Iterate over the course names provided by your controller -->
      <th:block th:each="course : ${courses}">
        <option th:value="${course}" th:text="${course}"></option>
      </th:block>
    </select>
    <div class="form-group">
      <label for="subjectName">Description:</label>
      <input type="text" class="form-control" id="subjectDescription" name="subjectDescription" required="required" />
    </div>
    <button type="submit" class="btn btn-primary">Add Subject</button>
  </form>

  <!-- List of Subjects -->
  <table class="table mt-4">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>CourseName</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="subject : ${subjects}">
      <td th:text="${subject.name}"></td>
      <td th:text="${subject.subjectDescription}"></td>
      <td th:text="${subject.courseName}"></td>
      <td>
        <a th:href="@{/subjects/edit/{id}(id=${id})}" class="btn btn-info btn-sm">Edit</a>
        <a th:href="@{/subjects/delete/{id}(id=${id})}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Include Bootstrap JS and jQuery -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</body>
</html>
